<br><div class="main"> <br><br><br>
    <div class="container">
        <div class="row">
            <br>
            <div class="text-center">
                <br>
                <h1>Refund Policy</h1>
                <img src="/assets/r.png" alt="">
                <br>

            </div>

            <br><br>
            <p>In case of requests for order cancellations, Fittciti, at its sole discretion, reserves the right to
                accept or reject requests for order cancellations for any reason whatsoever, without assigning any
                reason to the User. As part of usual business practice, if Fittciti receives a cancellation notice
                within 24 hours and the order has not been processed/ approved by Fittciti, Fittciti shall cancel
                the order and refund the entire amount to User within 14 working days.</p>

            <p>Fittciti will not be able to cancel orders that have already been processed, it is pertinent to note
                that the Fittciti has the full right to decide whether an order has been processed or not. User
                hereby agrees and undertakes that the decision taken by the Fittciti is acceptable to User and User
                shall not create any dispute on the decision taken by Fittciti on cancellation.</p>
            <br><br>
            <br>
        </div>
        <br>
    </div>
</div>
