<div class="main"><br><br><br>
    <div class="container">
        <h1 style="text-align: center;">Products for Selling</h1> <br>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label for="category_id">Category Name : <br>
                    <select name="category_id" id="category_id" [(ngModel)]="Category_id" class="form-select"
                        placeholder="All Category" aria-label="Multiple select example">
                        <option value="All">All Categories</option> <!-- Option for all categories -->
                        <option *ngFor="let c of AllCategory" [value]="c.Category_id">{{c.Category_Name}}</option>
                    </select>
                </label>
                <br><br>

                <label for="brand_id">Brand Name : <br>
                    <select name="brand_id" id="brand_id" [(ngModel)]="Brand_id" class="form-select"
                        placeholder="All Brand" aria-label="Multiple select example">
                        <option value="All">All Brands</option> <!-- Option for all brands -->
                        <option *ngFor="let b of AllBrand" [value]="b.Brand_id">{{b.Brand_Name}}</option>
                    </select>
                </label>
                <br><br>

                <label for="">
                    <button class="btn btn-outline-success" (click)="getproduct()">Reset</button>
                </label>

                <label>
                    <button style="margin-left: 5px;" class="btn btn-outline-success" (click)="Filter()">Filter</button>
                </label>

                <!-- <label for="batch_date">Category Name : <br>
                    <select name="category_id" id="category_id" [(ngModel)]="Category_id" class="form-select"
                            placeholder="All Category" aria-label="Multiple select example">
                        <option value="">All Categories</option> 
                        <option *ngFor="let c of AllCategory" [value]="c.Category_id">{{c.Category_Name}}</option>
                    </select>
                </label>
                <br><br>
                          
                <label for="batch_date">Brand Name : <br>
                    <select name="brand_id" id="brand_id" [(ngModel)]="Brand_id" class="form-select"
                            placeholder="All Brand" aria-label="Multiple select example">     
                        <option value="">All Brands</option>
                        <option *ngFor="let b of AllBrand" [value]="b.Brand_id">{{b.Brand_Name}}</option>
                    </select>
                </label>
                <br><br>
                
                <label>
                    <button class="btn btn-outline-success" (click)="Filter()">Filter</button>
                </label> -->
                <br><br>
            </div>

            <div class="col-md-9 laptopsize">
                <div class="container">
                    <div class="alert" *ngIf="productList.length == 0">
                        <div class="text-center">
                            <h2>Product Not Found</h2>
                            <p>Please remove your filters to view all products.</p>
                            <button class="btn btn-success" (click)="getproduct()">All Products</button>
                        </div>
                    </div>

                    <div class="row" *ngIf="productList.length > 0"> <br>

                        <div class="col-lg-4 col-md-6 col-sm-6"
                            *ngFor="let p of productList| paginate: { itemsPerPage: 9, currentPage: pro }, let i=index ">
                            <div class="container">
                                <div class="card">
                                    <div class="">

                                        <!-- <button (click)="addToWishlist(p.id)">Add to Wishlist</button> -->
                                        <!-- <i *ngIf="liked" (click)="addToWishlist(p.id)">Add to
                                                Wishlist</i>
                                            <a *ngIf="!liked" [routerLink]="['/login']">Login to Add to
                                                Wishlist</a>     -->

                                        <!-- <div class="text-end">
                                                <i class="fa fa-heart fa-lg" [style.color]="getButtonStyle(p)"
                                                    (click)="toggleWishlist(p)"></i>
                                            </div> -->

                                        <div class="text-end">
                                            <i class="fa fa-heart" (click)="toggleWishlist(p)"
                                                [ngStyle]="getButtonStyle(p)"></i>
                                        </div>
                                        <!-- Assuming you're using Font Awesome for the heart icon -->
                                        <a href="" [routerLink]="['/viewproduct',p.id]"> <img [src]="p.image"
                                                style="width: 100%;" alt=""></a>

                                        <div class="card-body">
                                            <p [ngStyle]="getStyle(p)">{{ p.status == '1' ? '' : 'Out of Stock'}}
                                            </p>
                                            <p>{{p.Product_Name}} <br> <span>{{p.Weight}}</span></p>
                                            <p>Rs <s style="color: red;">{{p.Price}} </s> <span
                                                    style="margin-left: 5%;">
                                                    <b>{{p.discount}}%</b></span> </p>
                                            <p>Rs {{p.pricewithdiscount}}</p>
                                            <button class="btn btn-secondary" (click)="addToCart(p)">
                                                <i class="fa-solid fa-cart-plus fa-lg"></i>
                                                Add To Cart</button>

                                        </div>
                                    </div>
                                </div> <br>
                            </div>
                        </div>
                        <div class="text-center">
                            <pagination-controls (pageChange)="pro = $event"></pagination-controls>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-9 mobilesize">
                <div class="container">
                    <div class="alert" *ngIf="productList.length == 0">
                        <div class="text-center">
                            <h2>Product Not Found</h2>
                            <p>Please remove your filters to view all products.</p>
                            <button class="btn btn-success" (click)="getproduct()">All Products</button>
                          </div>
                    </div>

                    <div class="row" *ngIf="productList.length > 0"> <br>
                        <div class="col-6"
                            *ngFor="let p of productList| paginate: { itemsPerPage: 8, currentPage: pro }, let i=index ">
                            <div class="container">
                                <div class="card1" style="font-size: 10px;">
                                    <div class="">
                                        <!-- <button (click)="addToWishlist(p.id)">Add to Wishlist</button> -->
                                        <!-- <i *ngIf="liked" (click)="addToWishlist(p.id)">Add to
                                                Wishlist</i>
                                            <a *ngIf="!liked" [routerLink]="['/login']">Login to Add to
                                                Wishlist</a>     -->

                                        <!-- <div class="text-end">
                                                <i class="fa fa-heart fa-lg" [style.color]="getButtonStyle(p)"
                                                    (click)="toggleWishlist(p)"></i>
                                            </div> -->

                                        <div class="text-end">
                                            <i class="fa fa-heart" (click)="toggleWishlist(p)"
                                                [ngStyle]="getButtonStyle(p)"></i>
                                        </div>
                                        <!-- Assuming you're using Font Awesome for the heart icon -->
                                        <a href="" [routerLink]="['/viewproduct',p.id]"> <img [src]="p.image"
                                                style="width: 100%;" alt=""></a>

                                        <div class="card-body">
                                            <p [ngStyle]="getStyle(p)">{{ p.status == '1' ? '' : 'Out of Stock'}}</p>
                                            <p>{{p.Product_Name}} <br> <span>{{p.Weight}}</span></p>
                                            <p>Rs <s style="color: red;">{{p.Price}} </s> <span
                                                    style="margin-left: 5%;">
                                                    <b>{{p.discount}}%</b></span> </p>
                                            <p>Rs {{p.pricewithdiscount}}</p>
                                            <button class="btn btn-secondary btn-sm" (click)="addToCart(p)">
                                                <i class="fa-solid fa-cart-plus fa-lg"></i>
                                                Add To Cart</button>
                                        </div>
                                    </div>
                                </div> <br>
                            </div>
                        </div>
                        <div class="text-center">
                            <pagination-controls (pageChange)="pro = $event"></pagination-controls>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>