<div class="main"><br><br>
    <br><br>
    <div class="container">
        <div class="row">
            <br>
            <div class="text-center">
                <br>
                <h1>Delivery Policy </h1>
                <img src="/assets/d.png" alt="">
                <br>
                <br>    
            </div>

            <br><br>
            <p>At <b>FITTCITI</b> (Synergy Supplement), we strive to provide prompt and reliable delivery of our
                products to
                our valued customers. Please review our delivery policy below for details on shipping methods, charges,
                timelines, and other important information.</p>

            <p><b>Shipping Methods and Timelines:</b> We offer standard shipping within India via reputable carriers,
                such as
                Trackon courier. The estimated delivery timelines for standard shipping are 5 to 6 business days,
                excluding weekends and holidays. Please note that these timelines are approximate and may vary depending
                on factors beyond our control, such as weather conditions or carrier delays.</p>

            <p><b>Shipping Charges: </b> Shipping charges may apply to orders and are calculated based on the total
                weight, size, and destination of the package. Shipping charges will be displayed during the checkout
                process, and customers are responsible for reviewing and accepting these charges before finalizing their
                orders. Any additional charges, such as customs duties or taxes for international shipments, will be the
                responsibility of the customer.</p>

            <p><b>Order Processing Time : </b> Orders are typically processed within 2-6 business days from the time of
                purchase. This includes order verification, packing, and handling. Please note that order processing
                time is separate from the estimated delivery timelines and may vary depending on factors such as order
                volume or product availability..</p>

            <p><b>Delivery Confirmation and Tracking:</b>Once an order is shipped, customers will receive a shipping
                confirmation email with a tracking number or a link to a tracking portal, if available. Customers can
                use this information to track the status of their orders and estimated delivery dates. It is the
                responsibility of the customer to ensure someone is available to receive the package at the designated
                delivery address.</p>

            <p><b>Address Verification: </b>Customers are responsible for providing accurate and complete shipping
                addresses during the checkout process. We strongly recommend double-checking the shipping address for
                accuracy before submitting an order. We are not responsible for delays or additional charges resulting
                from incorrect or incomplete addresses provided by customers.</p>

            <p><b>Undeliverable or Returned Packages: </b>In case a package is deemed undeliverable or returned to us
                due to incorrect address, refusal of delivery, or other reasons beyond our control, we will contact the
                customer to confirm the correct shipping address or the reason for the return. Reshipment of the package
                may require additional shipping charges, which will be the responsibility of the customer. If the
                customer chooses to cancel the order, a refund may be issued, subject to our return and refund policy.
            </p>

            <p><b>Shipping Restrictions:</b> We currently only ship within India and do not offer international
                shipping. We may also have restrictions on shipping certain products, such as hazardous materials or
                age-restricted items, as per applicable laws and regulations. Please review our product pages and
                checkout process for any shipping restrictions that may apply.</p>

            <p><b>Force Majeure :</b>We are not responsible for delays or failures in delivery
                caused by unforeseen events or circumstances beyond our control, such as natural disasters, strikes,
                transportation disruptions, or other force majeure events.</p>

            <p><b>Customer Support:</b> For any questions, concerns, or issues related to shipping and delivery, please
                contact our customer support team at customersupport@fittciti.in. We will be happy to assist you and
                provide updates on your order status.</p>

            <p><b>Revisions and Updates:</b>We reserve the right to revise or update our delivery policy at
                any time without prior notice. The most recent version of our delivery policy will be posted on our
                website.</p>

            <p><b>Applicable Law and Jurisdiction:</b>This delivery policy shall be governed by and interpreted in
                accordance with the laws of India. Any disputes arising from or related to this delivery policy shall be
                subject to the exclusive jurisdiction of the courts in Pune, India.
            </p>
            <br><br>
            <br>
        </div>
        <br>
    </div>
</div>