<div class="main"><br><br>
    <div class="container"><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <iframe width="100%" height="250"
                        src="https://www.youtube.com/embed/fyTPpw1PPXA?si=R4Sg8IAhJWTDpXCP" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <iframe width="100%" height="250"
                        src="https://www.youtube.com/embed/fyTPpw1PPXA?si=R4Sg8IAhJWTDpXCP" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <iframe width="100%" height="250"
                        src="https://www.youtube.com/embed/fyTPpw1PPXA?si=R4Sg8IAhJWTDpXCP" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>
            </div><br>

        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/blog.jpg" alt="Avatar"> <br><br>
                            <h4>Whey Protein Concentrate & It’s Benefits</h4>
                        </div>
                        <div class="flip-card-back"> <br>
                            <h4>Whey Protein Concentrate & It’s Benefits</h4><br>
                            <p>Much of the protein found in protein bars, drinks and powders is derived from milk. When
                                milk is processed to form cheese, the remaining liquid is called whey. This liquid
                                contains the fast-digesting proteins commonly referred to as whey protein. Before
                                processing, about 20% of the protein in milk is whey. The other 80% is made up of the
                                slower-digesting casein proteins.
                            </p>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/blog.jpg" alt="Avatar"> <br><br>
                            <h4>Whey Protein Concentrate & It’s Benefits</h4>
                        </div>
                        <div class="flip-card-back"><br>
                            <h4>Whey Protein Concentrate & It’s Benefits</h4><br>
                            <p>Much of the protein found in protein bars, drinks and powders is derived from milk. When
                                milk is processed to form cheese, the remaining liquid is called whey. This liquid
                                contains the fast-digesting proteins commonly referred to as whey protein. Before
                                processing, about 20% of the protein in milk is whey. The other 80% is made up of the
                                slower-digesting casein proteins.
                            </p>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/blog.jpg" alt="Avatar"> <br><br>
                            <h4>Whey Protein Concentrate & It’s Benefits</h4>
                        </div>
                        <div class="flip-card-back"><br>
                            <h4>Whey Protein Concentrate & It’s Benefits</h4><br>
                            <p>Much of the protein found in protein bars, drinks and powders is derived from milk. When
                                milk is processed to form cheese, the remaining liquid is called whey. This liquid
                                contains the fast-digesting proteins commonly referred to as whey protein. Before
                                processing, about 20% of the protein in milk is whey. The other 80% is made up of the
                                slower-digesting casein proteins.
                            </p>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/blog.jpg" alt="Avatar">
                            <br><br>
                            <h4>Whey Protein Concentrate & It’s Benefits</h4>
                        </div>
                        <div class="flip-card-back"><br>
                            <h4>Whey Protein Concentrate & It’s Benefits</h4><br>
                            <p>Much of the protein found in protein bars, drinks and powders is derived from milk. When
                                milk is processed to form cheese, the remaining liquid is called whey. This liquid
                                contains the fast-digesting proteins commonly referred to as whey protein. Before
                                processing, about 20% of the protein in milk is whey. The other 80% is made up of the
                                slower-digesting casein proteins.
                            </p>
                        </div>
                    </div>
                </div>
            </div><br>
        </div><br><br><br>
    </div>
    <br><br>

    <div class="container-fluid">
        <br><br>
        <div class="row">
            <div class="card certificatecard">
                <img src="/assets/gooddiet/GNCBannerproduct_2.jpg" alt="">

                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <a href=""><img class="certificateimg" src="/assets/certificate/amindtested.png"
                                        alt=""></a>
                                <br>
                            </div><br>
                            <div class="col-md-2"><br>
                                <a href=""><img class="certificateimg" src="/assets/certificate/fssai.png" alt=""></a>
                                <br>
                            </div><br>
                            <div class="col-md-2">
                                <a href=""><img class="certificateimg" src="/assets/certificate/heavymetal.png"
                                        alt=""></a>
                                <br>
                            </div><br>
                            <div class="col-md-2">
                                <a href=""><img class="certificateimg" src="/assets/certificate/proteintested.png"
                                        alt=""></a>
                                <br>
                            </div><br>
                            <div class="col-md-2"><br>
                                <a href=""><img class="certificateimg" src="/assets/certificate/fssai.png" alt=""></a>
                                <br>
                            </div><br>
                            <div class="col-md-1" [routerLink]="['/Gnc']">
                                <button class="btn btn-success">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container-fluid">
        <br><br>
        <div class="row">
            <div class="card certificatecard">
                <img src="/assets/gooddiet/SaanBannerproduct_2.jpg" alt="">

                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <a href=""><img class="certificateimg" src="/assets/certificate/amindtested.png"
                                        alt=""></a>
                                <br>
                            </div><br>
                            <div class="col-md-2"> <br>
                                <a href=""><img class="certificateimg" src="/assets/certificate/fssai.png" alt=""></a>
                                <br>
                            </div><br>
                            <div class="col-md-2">
                                <a href=""><img class="certificateimg" src="/assets/certificate/heavymetal.png"
                                        alt=""></a>
                                <br>
                            </div><br>
                            <div class="col-md-2">
                                <a href=""><img class="certificateimg" src="/assets/certificate/proteintested.png"
                                        alt=""></a>
                                <br>
                            </div><br>
                            <div class="col-md-2"><br>
                                <a href=""><img class="certificateimg" src="/assets/certificate/fssai.png" alt=""></a>
                                <br>
                            </div><br>
                            <div class="col-md-1" [routerLink]="['/San']">
                                <button class="btn btn-success"><b>Shop</b></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let p of Products, let i=index">
                <div class="card">
                    {{p.Product_Name}}
                    <img class="card-img-top" src="{{p.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{p.Product_Name}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
</div>