.main {
    color: white;
    background-color: #000;
    cursor: pointer;
}

.img {
    width: 100%;
}

.list {
    padding: 2%;
    font-size: 25px;
}

.iconi {
    font-size: 30px;
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

.facebook {
    font-size: 30px;
    color: #0f51ad;
    z-index: 2;
}

.phone{
    color: rgba(23,176,244,255);
}