<div class="main"><br><br>
    <div class="container">
        <br><br>
        <div class="checkout">
            <h1>Checkout</h1>
            <div class="row">
                <div class="col-sm-7">
                    <h3>Add shipping address</h3>

                    <form [formGroup]="orderform">

                        <!-- <div class="col-md-12">
                            <label for="Email">Email</label>
                            <input type="text" name="Email" class="form-control" id="Email" formControlName="Email"
                                value="" placeholder="Enter Email Address" required>
                        </div> -->
                        <br>
                        <div class="col-md-12">
                            <label for="Order_date">Order_date :</label>
                            <input type="date" name="Order_date" class="form-control" id="Order_date"
                                formControlName="Order_date" value="" placeholder="Enter Order_date" required>

                        </div>
                        <br>
                        <div class="col-md-12">
                            <label for="Shipping_address">Shipping_Address</label>
                            <textarea type="text" name="Shipping_address" class="form-control" id="Shipping_address"
                                formControlName="Shipping_address" value="" placeholder="Enter Shipping address" required>
                       </textarea>
                        </div>
                        <br>
                        <button class="btn btn-success" [routerLink]="['/order']"
                            (click)="orders()">Order Now</button>
                        <!-- <span style="margin-left: 10px;"> <button class="btn btn-success" (click)="paynow()">Pay Now</button></span> -->
                    </form>
                </div>
                <!-- <div class="col-sm-5">
                    <h3>Total Amount: {{grandTotal}}</h3>
                    <h4>Payment Method : <b>Pay on delivery</b></h4>

                </div> -->
            </div>
        </div>
        <br><br>
    </div>
</div>