<div class="main"><br><br><br><br>
    <div class="container">
        <div class="row">
            <br>
            <div class="text-center">
                <br>
                <h1>Privacy Policy</h1>
                <img src="/assets/p.png" alt="">
                <br>

            </div>

            <br><br>
            <p>Fittciti (Synergy Supplement) will maintain a copy of your personal data (Name, Contact Details etc. )
                for records that help enable us for the successful processing of your order. All data maintained, saved
                and recorded on our website is confidential. Fittciti (Synergy Supplement) undertakes that we will not
                share, sell, misuse and/or proved the data to any party other than those involved directly in the
                processing of your order. This includes but is not limited to our employees, Technical Teams, Support
                Staff, vendors and related business partners.</p>

            <p>All the information provided to us by you, including sensitive personal information, is voluntary. You
                have the right to withdraw your consent at any time, in accordance with the terms of this User
                Agreement, but please note that withdrawal of consent will not be retroactive..</p>
            <p>You can access, modify, correct and eliminate the data about you which has been collected pursuant to
                your decision to become a user of the Website. If you update any information relating to you, we may
                keep a copy of the information which you originally provided to us in its archives.</p>

            <p>Due to the communications standards on the Internet, when you visit the Website, we automatically receive
                the URL of the site from which you came and the site to which you are going when you leave. We also
                receive the Internet Protocol (IP) address of your computer (or the proxy server you used to access the
                World Wide Web), your computer operating system and type of web browser you are using, email patterns,
                as well as the name of your Internet Service Provider (ISP). This information is used to analyze overall
                trends to help us improve our service.</p>

            <p>The Website uses temporary cookies to store certain data (that is not sensitive personal data or
                information) that is used by us and our service providers for the technical administration of the
                Website, research and development, and for administration. In the course of serving advertisements or
                optimizing services to you, we may allow authorized third parties to place or recognize a unique cookie
                on your browser. We do not store personally identifiable information in the cookies.</p>

            <p>We may keep records of telephone calls received and made for making inquiries, orders or other purposes
                for the purpose of administration of services, research and development, quality management services and
                for proper administration.</p>
            <p>We value the privacy of information pertaining to our associates. The linkage between your IP address and
                your personally identifiable information is not shared with third-parties without your permission or
                except when required by law. Notwithstanding the above, we may share some of the aggregate findings and
                details with advertisers, sponsors, investors, strategic partners, and others in order to help grow our
                business without obtaining any approval from you. We will enable you to communicate your privacy
                concerns to us and that we will respond to them appropriately. We do not disclose any personal
                information to advertisers and for other marketing and promotional purposes that could be used to
                personally identify you, such as your password, credit card number and bank account number.</p>
            <br>
            <br><br>
        </div>
        <br>
    </div>
</div>
