<div class="main"><br><br><br>
    <div class="container">
        <br>
        <h1 style="text-align: center;">CONTACT US</h1> <br><br>
        <div class="row">
            <div class="col-md-6">
                <h4><b> Viman Nagar</b></h4>
                <p>
                    Optimus Building, Shop no. 3, B-Wing, Lane no. 15, Mhada Colony, Mhada Road, Society, opp. LUNKAD
                    QUEENSLAND, Viman Nagar, Pune, Maharashtra 411014</p>
                <br>
                <h4>Contact Form</h4>

                <form [formGroup]="enquiryform" (ngSubmit)="Addcontact()">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Name">Name:</label>
                        <input type="text" class="form-control" id="Name" formControlName="Name"
                            placeholder="Enter Your Name" required>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Email">Email ID:</label>
                        <input type="email" class="form-control" id="Email" formControlName="Email"
                            placeholder="Enter Your Email Address" required>
                    </div>

                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Mobileno">Contact No.:</label>
                        <input type="text" class="form-control" id="Mobileno" formControlName="Mobileno"
                            placeholder="Enter your Mobile number" required>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Products">I'm interested in knowing about Products</label>
                        <select multiple class="form-control" id="Products" formControlName="Products">
                            <option *ngFor="let product of AllProduct" [value]="product.Product_Name">{{
                                product.Product_Name }}</option>
                        </select>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">From
                        <label for="Categories">Categories</label>
                        <select multiple class="form-control" id="Categories" formControlName="Categories">
                            <option *ngFor="let category of AllCategory" [value]="category.Category_Name">{{
                                category.Category_Name }}</option>
                        </select>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">And
                        <label for="Brands">Brands:</label>
                        <select multiple class="form-control" id="Brands" formControlName="Brands">
                            <option *ngFor="let brand of AllBrand" [value]="brand.Brand_Name">{{ brand.Brand_Name }}
                            </option>
                        </select>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10" style="text-align: center;">
                        <button class="btn btn-success" type="submit">Submit Now</button>
                    </div>
                    <br><br>
                </form>


                <!-- <form [formGroup]="enquiryform" (ngSubmit)="Addcontact()">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Name"> Name :</label>
                        <input type="text" class="form-control" id="Name" formControlName="Name"
                            placeholder="Enter Your Name" required>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Email">Email ID :</label>
                        <input type="email" class="form-control" id="Email" formControlName="Email"
                            placeholder="Enter Your Email Address" required>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Mobileno"> Contact No. :</label>
                        <input type="text" class="form-control" id="Mobileno" formControlName="Mobileno"
                            placeholder="Enter your Mobile number" required>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Message">Message :</label>
                        <div style="display: flex;">
                            <p>I'm interested in knowing about Products </p>
                            <select style="width: 40%;" class="form-control" id="product" formControlName="Product"
                                required>
                                <option value="All">All Products</option>
                                <option *ngFor="let product of AllProduct" [value]="product.Product_Name">{{
                                    product.Product_Name }}</option>
                            </select>
                        </div>
                        <div style="display: flex;">from Category
                            <select class="form-control" id="category_id" formControlName="Category" required>
                                <option value="All">All Categories</option>
                                <option *ngFor="let category of AllCategory" [value]="category.Category_Name">{{
                                    category.Category_Name }}</option>
                            </select>
                            And Brand
                            <select class="form-control" id="brand_id" formControlName="Brand" required>
                                <option value="All">All Brands</option>
                                <option *ngFor="let brand of AllBrand" [value]="brand.Brand_Name">{{ brand.Brand_Name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10" style="text-align: center;">
                        <button class="btn btn-success" type="submit">Submit Now</button>
                    </div>
                    <br><br>
                </form> -->

                <!-- <form [formGroup]="enquiryform" (submit)="Addcontact()">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Name"> Name :</label>
                        <input type="text" class="form-control" id="Name" formControlName="Name" value=""
                            placeholder="Enter Your Name " required>
                        <div class="valid-feedback">
                            Your Name
                        </div>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>

                    <div class="col-md-10">
                        <label for="Email">Email ID :</label>
                        <input type="email" class="form-control" id="validationCustom03" id="Email"
                            formControlName="Email" placeholder="Enter Your Email Address.." required>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>

                    <div class="col-md-10">
                        <label for="Mobileno"> Contact No. :</label>
                        <input type="" class="form-control" id="validationCustom02" value="" id="Mobileno"
                            formControlName="Mobileno" placeholder="Enter your Mobile number" required>
                        <div class="valid-feedback">
                            Your number
                        </div>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-10 ">
                        <label for="Message">Message :</label>
                        <p type="text" name="" formControlName="Message" id="Message">I'm interested in knowing about
                            Products<span><input type="text" name="" formControlName="Message"
                                    style="outline: 0;border: 0;" id="Message">..... </span> form Could you provide
                            additional details about Products
                        </p>


                        <div style="display: flex;">
                            <p>I'm interested in knowing about Products </p>
                            <select style="width: 40%;" class="product" name="Message" id="Message"
                                formControlName="Message" aria-label="Multiple select example">
                                <option value="All">All Products</option> 
                                <option *ngFor="let b of AllProduct" [value]="b.Product_Name">{{b.Product_Name}}</option>

                            </select>

                            <select data-mdb-select-init multiple>
                                <option *ngFor="let b of AllProduct" type="checkbox" [value]="b.id">{{b.Product_Name}}
                                </option>
                            </select>
                            <label class="form-label select-label">Category</label>

                        </div>

                        <div style="display: flex;">from Category
                            <label for="category_id">
                                <select name="category_id" id="category_id" [(ngModel)]="Category_id"
                                formControlName="Message"  class="form-select" placeholder="All Category" aria-label="Multiple select example">
                                    <option value="All">All Categories</option> 
                                    <option *ngFor="let c of AllCategory" [value]="c.Category_id">{{c.Category_Name}}
                                    </option>
                                </select>
                            </label>
                            And Brand

                        </div>
                        <label for="brand_id">
                            <select name="brand_id" id="brand_id" [(ngModel)]="Brand_id" class="form-select"
                            formControlName="Message"placeholder="All Brand" aria-label="Multiple select example">
                                <option value="All">All Brands</option> 
                                <option *ngFor="let b of AllBrand" [value]="b.Brand_id">{{b.Brand_Name}}</option>
                            </select>
                        </label>
                    </div>
                    <br>
                    <div class="col-md-1"></div>

                    <div class="col-md-1"></div>
                    <div class="col-md-10 ">
                        <label for="Message">Date :</label>
                        <input type="date" class="form-control" id="validationCustom03" id="Date"
                            formControlName="Date" placeholder="Date" required>
                    </div>
                    <br>
                    <div class="col-md-1"></div>

                    <div class="col-md-1"></div>
                    <div class="col-md-10" style="text-align: center;">
                        <button class="btn btn-success" style="color: white;" type="submit">
                            Submit Now</button> <br> <br>
                    </div>
                    <br><br>
                </form> -->

            </div><br>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d60513.721997898356!2d73.91165!3d18.569186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c139e0d55f19%3A0x539c3e630952c231!2sFittciti!5e0!3m2!1sen!2sin!4v1701323991810!5m2!1sen!2sin"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>

        </div>
        <br>

    </div>
</div>


<!-- <form action="">
    <label for="Name">Name</label>
    <input type="hidden"> <br>
    <label for="password">Password</label>
    <input type="password">
    <br>
    <label for="">Thanks for Contacting Us <input type="text" placeholder=""> Kg and Brand is <input type="se">
        sdghjfhgjhkrj </label> <br><br>

    <div class="input-div"><input type="input" name="name" placeholder="Your Name"></div>
    <br><br>

    <label for="">Place Your order  <input type="text" placeholder="Enter Product Name"> Quantity of Product <input type="text" placeholder="Enter Quantity">Your order.</label>
    <br><br>

</form>

<br> -->

<!-- <div class="formcardd">
    <div class="cardbody" style=" padding: 2%;">
        <form action="">
            <label for="Name">Name</label> <br>
            <input type="text" placeholder="Enter Your Name"> <br><br>
            <div class="row">
                <div class="column" style=" width: 50%;height: auto;">
                    <label for="Number"> Number</label><br>
                    <input type="text" placeholder="Enter Your contact Number"><br><br>

                </div>
                <div class="column" style=" width: 50%;height: auto;">
                    <label for="Email">Email Address</label><br>
                    <input type="email" placeholder="Enter Your Email Address"> <br>
                </div>
            </div>
            <div class="row">
                <div class="column" style=" width: 50%;height: auto;">
                    <label for="product">Product</label><br>
                    <select id="product" style=" outline: 0;">
                        <option selected value="">Select Product</option>
                        <option>Dal </option>
                        <option>Masale </option>
                        <option>Snacks </option>
                    </select>
                </div>
                <div class="column" style=" width: 50%;height: auto;">
                    <label for="date">Choose Order Date</label><br>
                    <input type="date" placeholder="Enter a date"> <br><br>
                </div>
            </div>

            <label for="address">Address</label><br>
            <input type="text" name="address" id=""> <br><br>

            <label for="">Message :</label><br>
            <textarea name="" id=""></textarea> <br><br>
            <label for="">Place Your order <input type="text" placeholder="Enter Product Name" style="border: 0; border-bottom: dashed 2px black;
            outline: 0;"> Quantity
                of Product <input type="text" placeholder="Enter Quantity" style="border: 0; border-bottom: dashed 2px black;
            outline: 0;">Your order.</label>
        </form>
    </div>
</div> -->